CREATE DATABASE {{base.name}};
\connect {{base.name}}

{% for table in base.tables %}
CREATE TABLE {{table.name}} (
    {% for field in table.fields %}
{{field.name}} {{field.type}} {% if (field.requared == 0) %}NOT NULL{% else %}NULL{% endif %} {% if loop.last %}  {% else %},{% endif %}
    {% endfor %}
);
{% endfor %}
{% for table in base.tables %}
ALTER TABLE ONLY {{table.name}} ADD CONSTRAINT {{table.name}}_pkey PRIMARY KEY({% for key in table.primaryKeys %} {% if loop.last %} {{key.columnName}} {% else %} {{key.columnName}},{% endif %}{% endfor %});
{% endfor %}
{% for table in base.tables %}
    {% for key in table.foreignKeys %}
ALTER TABLE ONLY {{table.name}} ADD CONSTRAINT {{key.fkTableName}}_{{key.fkColumnName}}_fkey FOREIGN KEY({{key.pkColumnName}} REFERENCES {{key.pkTableName}}({{key.pkColumnName}}));
    {% endfor %}
{% endfor %}




